<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Tutorial</title>
<script>
	async function load() {
		console.log("Function Load")
		let response = await fetch("http://localhost:8080/cors");
		let text = await response.text();
		document.getElementById("text").innerHTML = text;
		console.log(text);
		
		let corsresponse = await fetch("http://localhost:9000/cors");
		let corstext = await corsresponse.text();
		document.getElementById("corsdata").innerHTML = corstext;
		console.log(corstext);
			
		let corssecurityresponse = await fetch('http://localhost:9999/cors', {
				headers: {'Authorization': 'Basic ' + btoa('user' + ':' + 'password')}});
		let corssecuritytext = await corssecurityresponse.text();
		document.getElementById("corssecuritydata").innerHTML = corssecuritytext;
		console.log(corssecuritytext);
		
	}
	
	document.addEventListener("DOMContentLoaded", load);
</script>
</head>
<body>
<h1>Spring Boot Tutorial</h1>
<p id="text"></p>
<p> </p>
<p id="corsdata"></p>
<p> </p>
<p id="corssecuritydata"></p>
</body>
</html>